<title>Calculateur de Rendement Locatif : Brut, Net et Net-Net</title>

<main><h1>Rendement locatif : formule de calcul et calculateur</h1>

<br>
<div class="separator"></div><br>
<h2>
    Rendement brut
</h2>

La formule de calcul du rendement brute est la suivante : ((loyer Mensuel * 12) / Prix d'acquisition) * 100
<br><br><br><div class="card flex  gap-3 p-fluid align-items-end flex-wrap">
    <div class="flex-auto">
        <p-floatLabel>
            <p-inputNumber inputId="loyerMensuel" [(ngModel)]="loyerMensuel" requ />
            <label for="loyerMensuel">Loyer mensuel</label>

        </p-floatLabel>
    </div>
    <div class="flex-auto">
        <p-floatLabel>
            <p-inputNumber inputId="prixAcquisition" [(ngModel)]="prixAcquisition" />
            <label for="prixAcquisition">Prix d'acquisition (frais de notaire + agence compris)</label>

        </p-floatLabel>
    </div>
    <button type="button" pButton icon="pi pi-check" class="p-button-success" (click)="calculRendementBrut()"
    [disabled]=" !(prixAcquisition &&prixAcquisition>0) || !(loyerMensuel && loyerMensuel>0)"></button>
    
</div>

<h4>Rendement brut : {{ rendementBrut !== undefined ? rendementBrut : 'N/A' }} %</h4>


<br><br><br><br>
<h2>
    Rendement Net
</h2>
La formule de calcul du rendement net est la suivante : (((loyer Mensuel * 12) - charges locatives) / Prix d'acquisition) * 100

<br><br><br><div class="card flex  gap-3 p-fluid align-items-end flex-wrap">
    <div class="flex-auto">
        <p-floatLabel>
            <p-inputNumber inputId="loyerMensuel" [(ngModel)]="loyerMensuel2" requ />
            <label for="loyerMensuel">Loyer mensuel sans les charges</label>

        </p-floatLabel>
    </div>
    <div class="flex-auto">
        <p-floatLabel>
            <p-inputNumber inputId="prixAcquisition" [(ngModel)]="prixAcquisition2" />
            <label for="prixAcquisition">Prix d'acquisition (frais de notaire + agence compris)</label>

        </p-floatLabel>
    </div>

    <div class="flex-auto">
        <p-floatLabel>
            <p-inputNumber inputId="chargeLocatives" [(ngModel)]="chargeLocatives" />
            <label for="chargeLocatives">Charges locatives (taxe d'habitation comprise)</label>

        </p-floatLabel>
    </div>
    <button type="button" pButton icon="pi pi-check" class="p-button-success" (click)="calculRendementNet()"
    [disabled]=" !(prixAcquisition2 &&prixAcquisition2>0) || !(loyerMensuel2 && loyerMensuel2>0)|| !(chargeLocatives && chargeLocatives>0)"></button>
    
</div>

<h4>Rendement Net : {{ rendementNet !== undefined ? rendementNet : 'N/A' }} %</h4>


<br><br><br><br>
<h2>
    Rendement Net-net
</h2>

La formule de calcul du rendement net-net est la suivante : (((loyer Mensuel * 12) - (charges locatives + Impôts et prélèvements sociaux)) / Prix d'acquisition) * 100

<br><br><br><div class="card flex  gap-3 p-fluid align-items-end flex-wrap">
    <div class="flex-auto">
        <p-floatLabel>
            <p-inputNumber inputId="loyerMensuel" [(ngModel)]="loyerMensuel3" requ />
            <label for="loyerMensuel">Loyer mensuel sans les charges</label>

        </p-floatLabel>
    </div>
    <div class="flex-auto">
        <p-floatLabel>
            <p-inputNumber inputId="prixAcquisition" [(ngModel)]="prixAcquisition3" />
            <label for="prixAcquisition">Prix d'acquisition (frais de notaire + agence compris)</label>

        </p-floatLabel>
    </div>

    <div class="flex-auto">
        <p-floatLabel>
            <p-inputNumber inputId="chargeLocatives" [(ngModel)]="chargeLocatives2" />
            <label for="chargeLocatives">Charges locatives (taxe d'habitation comprise)</label>

        </p-floatLabel>
    </div>

    <div class="flex-auto">
        <p-floatLabel>
            <p-inputNumber inputId="impot" [(ngModel)]="impot" />
            <label for="impot">Impôts et prélèvements sociaux</label>

        </p-floatLabel>
    </div>
    <button type="button" pButton icon="pi pi-check" class="p-button-success" (click)="calculRendementNetNet()"
    [disabled]=" !(prixAcquisition3 &&prixAcquisition3>0) || !(loyerMensuel3 && loyerMensuel3 > 0 )
    || !(chargeLocatives2 && chargeLocatives2>0)|| !(impot && impot>0)"></button>
    
</div>

<h4>Rendement net-net : {{ rendementNetNet !== undefined ? rendementNetNet : 'N/A' }} %</h4>

<br><br>
<div class="separator"></div><br><br>

<h2>Explication du Rendement Locatif</h2>
<p>
  Le rendement locatif est un indicateur clé pour évaluer la rentabilité d'un investissement immobilier. Il mesure le retour sur investissement en comparant les revenus générés par la location à l'achat du bien immobilier. Il existe différentes façons de calculer ce rendement, selon les critères que l'on prend en compte dans l'estimation des revenus et des charges. Trois principaux types de rendements sont couramment utilisés : 
</p>

<ul>
  <li><strong>Rendement Brut :</strong> Il s'agit du rendement de base, calculé en prenant en compte uniquement les loyers perçus, sans tenir compte des charges et des impôts. Ce calcul donne une première idée du potentiel de rentabilité d'un investissement, mais il peut être trompeur, car il ne prend pas en compte les coûts réels liés à la gestion du bien.</li>
  <li><strong>Rendement Net :</strong> Le rendement net prend en compte les charges locatives, comme les frais d'entretien, les taxes, et les assurances. Il est donc plus réaliste que le rendement brut, car il reflète mieux les revenus réels générés par l'investissement après dépenses.</li>
  <li><strong>Rendement Net-Net :</strong> Ce calcul va encore plus loin, en prenant en compte non seulement les charges locatives, mais aussi les impôts et les prélèvements sociaux. C'est le rendement qui tient compte de toutes les dépenses et taxes, offrant ainsi une vue d'ensemble précise du rendement réel net pour l'investisseur.</li>
</ul>

<p>
  Un bon rendement locatif dépend des objectifs et des attentes de l'investisseur, ainsi que de la stratégie immobilière choisie. En général, un rendement brut supérieur à 6 % est considéré comme attractif, tandis qu'un rendement net ou net-net supérieur à 4 % est souvent perçu comme une rentabilité satisfaisante dans un marché immobilier mature.
</p>

<p>
  Il est important de noter que bien que le rendement brut soit utile pour une première estimation, les rendements net et net-net sont beaucoup plus pertinents pour déterminer si un investissement immobilier est réellement rentable à long terme. C'est pourquoi il est essentiel de tenir compte de tous les frais liés à l'achat et à la gestion du bien avant de prendre une décision d'investissement.
</p>

<p>
  En utilisant nos outils de calcul de rendement, vous pouvez facilement estimer le rendement brut, net et net-net de votre projet immobilier, vous aidant ainsi à prendre des décisions éclairées pour optimiser vos investissements.
</p>

</main>
