<br><br><br><br><br>


<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">


      <!-- Linkedin
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/lorenzo-g-45b1a3211"
        role="button" target="_blank" rel="noopener noreferrer" aria-label="linkedin"><i class="fab fa-linkedin-in"></i></a>

       Github 
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://github.com/lecouze13" role="button"
        target="_blank" aria-label="github" rel="noopener noreferrer"><i class="fab fa-github"></i></a> -->
    </section>



    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Ce site web a pour objectif de vous aider à évaluer le rendement de votre investissement immobilier, vous
        permettant ainsi de déterminer sa rentabilité. En plus de ce calculateur de rendement immobilier, vous trouverez
        sur le site divers outils financiers pour gérer votre budget, calculer vos mensualités de crédit, estimer votre
        capacité d'emprunt, et bien plus encore. Des calculateurs dédiés à différents aspects de la gestion financière
        et des investissements sont également à votre disposition pour vous accompagner dans vos projets.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <!-- <section class="">
      <!--Grid row-->
      <!-- <div class="row" style="display: flex; justify-content: center;">
        Grid column
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Liens vers d'autres projets</h5>

          <ul class="list-unstyled mb-0">
            < <li>
              <a href="https://recette.lorenzogeano.com" class="text-white">Site de recettes de cuisines</a>
            </li>
            <li>
              <a href="https://meteolorenzo.netlify.app/" class="text-white">Site de méteo </a>
            </li> -->
            <!-- <li>
                <a href="#!" class="text-white">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 4</a>
              </li> 
          </ul>
        </div>
        Grid column




    
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Link 1</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 2</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 4</a>
              </li>
            </ul> 
        </div>
      </div> 
    </section> -->
  </div>


  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 Copyright

  </div>
</footer>