<div class="cardHeader">

    <p-menubar [model]="items">
        <!-- Search Bar -->
        <ng-template pTemplate="start">
            <div class="search-container">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input
                        type="text"
                        pInputText
                        [(ngModel)]="searchQuery"
                        (input)="onSearchInput()"
                        (blur)="onSearchBlur()"
                        placeholder="Rechercher..."
                        class="search-input"
                    />
                </span>
                <div class="search-results" *ngIf="showSearchResults && searchResults.length > 0">
                    <div
                        class="search-result-item"
                        *ngFor="let result of searchResults"
                        (mousedown)="selectSearchItem(result)"
                    >
                        <i [class]="getTypeIcon(result.type)"></i>
                        <div class="result-content">
                            <span class="result-label">{{ result.label }}</span>
                            <span class="result-type">{{ getTypeLabel(result.type) }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="item" let-item>
            <ng-container *ngIf="item.route; else urlRef">
                <a [routerLink]="item.route" class="p-menuitem-link">
                    <span [class]="item.icon"></span>
                    <span class="ml-2" style="color: black;">{{ item.label }}</span>
                </a>
            </ng-container>
            <ng-template #urlRef>
                <a *ngIf="item.url; else noLink" [href]="item.url" class="p-menuitem-link">
                    <span class="ml-2"  style="color: black; padding-left: 0%;">{{ item.label }}</span>
                </a>
            </ng-template>
            <ng-template #noLink>
                <div class="p-menuitem-link">
                    <span [class]="item.icon"></span>
                    <span class="ml-2" >{{ item.label }}</span>
                    <span *ngIf="item.items" class="pi pi-fw pi-angle-down ml-2"></span>
                </div>
            </ng-template>
        </ng-template>
    </p-menubar>
</div>
<div *ngIf="afficherCalculatrice" class="overlay-calculatrice">
    <div class="calculatrice-wrapper">
      <button class="fermer-btn" (click)="afficherCalculatrice = false">✕</button>
      <app-calculatrice></app-calculatrice>
    </div>
  </div>