<div class="cardHeader">
    
    <p-menubar [model]="items">
         <!-- <img src="../../../assets/image.webp" class="img-logo"> -->


        <ng-template pTemplate="item" let-item>
            <ng-container *ngIf="item.route; else urlRef">
                <a [routerLink]="item.route" class="p-menuitem-link">
                    <span [class]="item.icon"></span>
                    <span class="ml-2" style="color: black;">{{ item.label }}</span>
                </a>
            </ng-container>
            <ng-template #urlRef>
                <a *ngIf="item.url; else noLink" [href]="item.url" class="p-menuitem-link">
                    <span class="ml-2"  style="color: black; padding-left: 0%;">{{ item.label }}</span>
                </a>
            </ng-template>
            <ng-template #noLink>
                <div class="p-menuitem-link">
                    <span [class]="item.icon"></span>
                    <span class="ml-2" >{{ item.label }}</span>
                    <span *ngIf="item.items" class="pi pi-fw pi-angle-down ml-2"></span>
                </div>
            </ng-template>
        </ng-template>
    </p-menubar>
</div>
<div *ngIf="afficherCalculatrice" class="overlay-calculatrice">
    <div class="calculatrice-wrapper">
      <button class="fermer-btn" (click)="afficherCalculatrice = false">✕</button>
      <app-calculatrice></app-calculatrice>
    </div>
  </div>