<nav class="breadcrumb" aria-label="Fil d'Ariane">
  <ol class="breadcrumb-list" itemscope itemtype="https://schema.org/BreadcrumbList">
    <li *ngFor="let item of items; let i = index; let last = last"
        class="breadcrumb-item"
        [class.active]="last"
        itemprop="itemListElement"
        itemscope
        itemtype="https://schema.org/ListItem">

      <a *ngIf="!last && item.url"
         [routerLink]="item.url"
         [queryParams]="item.queryParams"
         class="breadcrumb-link"
         itemprop="item">
        <i *ngIf="item.icon" [class]="item.icon" aria-hidden="true"></i>
        <span itemprop="name">{{ item.label }}</span>
      </a>

      <span *ngIf="last" class="breadcrumb-current" itemprop="item">
        <span itemprop="name">{{ item.label }}</span>
      </span>

      <meta itemprop="position" [content]="i + 1" />

      <i *ngIf="!last" class="pi pi-angle-right breadcrumb-separator" aria-hidden="true"></i>
    </li>
  </ol>
</nav>
