
body{
    background-color: white;
    color: black;
}

span > label {
    /* margin: 5px; */
    margin-top: -13px;
}
    @import '@fortawesome/fontawesome-free/css/all.css';
@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';
