<div class="container" *ngIf="!isHomeRoute">
  <h1>Maximisez votre Investissement Immobilier !</h1>
  <p>
    Bienvenue sur notre site, votre allié incontournable pour évaluer le rendement de vos investissements immobiliers. Grâce à nos outils de calculs simples et intuitifs, vous pourrez rapidement déterminer la rentabilité de vos projets. Ne laissez pas l'incertitude freiner vos ambitions : prenez des décisions éclairées et assurez la réussite de votre patrimoine immobilier.
  </p>
 
  
  <h3>Outils et Calculateurs</h3>
  <ul>
    <!-- <li><a [routerLink]="/rendement-locatif">Calculateur de Rendement</a>: Estimez la rentabilité de votre investissement immobilier avec notre outil de calcul du rendement brut, net et net-net.</li>
    <li><a [routerLink]="/calcul-emprunt">Calculateur de Crédit Immobilier</a>: Estimez le coût total de votre crédit, ainsi que le montant de vos mensualités.</li>
    <li><a [routerLink]="/cashflow-immobilier">Calculateur de Cashflow</a>: Évaluez les flux de trésorerie générés par votre investissement immobilier.</li>
    <li><a [routerLink]="/budget-immobilier">Gestion de Budget</a>: Organisez vos finances personnelles et suivez votre budget avec nos outils pratiques.</li> -->
    <!-- <li><a [routerLink]="'/investissement'">Guide d'Investissement Immobilier</a>: Explorez nos conseils pour réussir vos investissements immobiliers et maximiser vos rendements.</li> -->
    <!-- <li><a [routerLink]="'/faq'">Foire aux Questions (FAQ)</a>: Trouvez des réponses aux questions fréquentes concernant l'investissement immobilier, le crédit et la gestion financière.</li> -->
  </ul>
  
  <h3>Pourquoi Choisir Nos Outils?</h3>
  <p>
    Ils sont gratuits. Ils sont faciles à utiliser. Ils sont fiables.
    Ils sont conçus pour vous fournir des informations claires et précises sur vos investissements immobiliers. Grâce à des calculs détaillés, vous pouvez analyser vos options de crédit, vos rendements locatifs et votre flux de trésorerie pour prendre des décisions éclairées.
  </p>
  
  <!-- <h3>Dernières Actualités et Conseils</h3>
  <p>
    Consultez notre blog pour des articles à jour sur le marché immobilier, des stratégies d'investissement, et des conseils financiers pour vous aider à réussir dans vos projets immobiliers.
  </p> -->
  
  <!-- <h3>Contactez-Nous</h3>
  <p>
    Vous avez des questions ou besoin d'assistance ? N'hésitez pas à nous contacter via notre <a [routerLink]="'/contact'">page de contact</a>. Notre équipe est là pour vous aider.
  </p> -->
</div>